body{
    background: rgb(218, 221, 224);
    font: normal 15pt Arial;

}

header{
    color: rgb(219, 137, 137);
    text-align: center;
    

}
section{
    
    margin: auto;
    text-align: center;
}
footer{
    margin: 200px;
    color: black;
    text-align: center;
    font-style: italic;

}